{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        div.b {
            line-height: 60px;
        }
    </style>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">GymBuddy</li>
                {% if request.user.is_authenticated %}
                <li><a href="/logout/">LogOut</a></li>
                {% else %}
                <li><a href="/login/">LogIn</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {% if request.user.is_authenticated %}
                <li class="menu-text">Hi {{ request.user.username }}</li>
                {% else %}
                <li class="menu-text">Welcome Guest</li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="b grid-container">
        <div class="large-4 medium-4 small-12 cell">
            <h3>{{ body }}</h3>            
            <form action="/addActivity/{{group_id}}/" method="post">
                {% csrf_token %}
                <div class="b grid-container">
                    <div class="b large-4 medium-4 small-4 cell">
                        {{ form }}
                        <input type="submit" class="button" value="Add">
                    </div>
                </div>
            </form>
        </div>

    </div>


    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <!-- vuejs for index page -->
</body>

</html>