{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        div.b {
            line-height: 60px;
        }
    </style>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Chat room</li>
                <!-- {% if request.user.is_authenticated %} -->
                <li><a href="/logout/">LogOut</a></li>
                <!-- {% else %} -->
                <li><a href="/login/">LogIn</a></li>
                <!-- {% endif %} -->
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <!-- {% if request.user.is_authenticated %} -->
                <li class="menu-text">Hi {{ request.user.username }}</li>
                <!-- {% else %} -->
                <li class="menu-text">Welcome Guest</li>
                <!-- {% endif %} -->
            </ul>
        </div>
    </div>

    <div id="user-hello"></div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#user-hello').innerHTML = (data.tester)
        }
    </script>


    <div class="b grid-container">
        <div class="b large-4 medium-6 small-12 cell">
            
            
        </div>
    </div>

    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>