{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="b lh grid-container">
    <div class="card large-3 medium-4 small-12 cell">
        <form action="/updateActivity/{{activity_ID}}/" method="post">
            {% csrf_token %}
            <div class="lh grid-container">
                <div class="lh large-4 medium-4 small-4 cell">
                    {{ form }}
                    <input type="submit" class="button" value="Update">
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}