{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="grid-x">
    <div class="b cell medium-6 large-3">
        <a href="createGroup/" class="card">
            <div>
                <!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
                <div class="card-section">
                    <p>Create Group</p>
                </div>
            </div>
        </a>
    </div>

    <div class="b cell medium-6 large-3">
        <a href="joinGroup/" class="card">
            <div>
                <!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
                <div class="card-section">
                    <p>Join Group</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="grid-x">
    <div class="b cell medium-6 large-3">
        <a href="/groupListPage" class="card">
            <div>
                <!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
                <div class="card-section">
                    <p>Your Groups</p>
                </div>
            </div>
        </a>
    </div>

    <div class="b cell medium-6 large-3">
        <a href="/requestPage" class="card">
            <div>
                <!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
                <div class="card-section">
                    <p>Your Group Requests</p>
                </div>
            </div>
        </a>
    </div>

    <div class="b cell medium-6 large-3">
        <a href="/showSchedule" class="card">
            <div>
                <!-- <img src="assets/img/generic/rectangle-1.jpg"> -->
                <div class="card-section">
                    <p>Your schedule</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'css/foundation.css' %}"></script>
{% endblock %}