{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
    .dot {
      height: 25px;
      width: 25px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
    }
    </style>

<div class="grid-x grid-padding-x">
    <div class="b cell medium-6 large-3">
        <a href="createGroup/" class="card" style="margin: 10px">
            <div class="card-section text-center">
                <img src="https://img.icons8.com/material-rounded/60/000000/add-user-group-man-man.png" />
            </div>
            <div class="card-section text-center">
                <p>Create Group</p>
            </div>
        </a>
    </div>
    <div class="b cell medium-6 large-3">
        <a href="joinGroup/" class="card" style="margin: 10px">
            <div class="card-section text-center">
                <img src="https://img.icons8.com/ios-filled/60/000000/query-inner-join.png" />
            </div>
            <div class="card-section text-center">
                <p>Join Group</p>
            </div>
        </a>
    </div>
    <div class="b cell medium-6 large-3">
        <a href="/groupListPage" class="card" style="margin: 10px">
            <div class="card-section text-center">
                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-group-miscellaneous-kiranshastry-solid-kiranshastry.png"/>
            </div>
            <div class="card-section text-center">
                <p>Your Groups</p>
            </div>
        </a>
    </div>
</div>
<div class="grid-x grid-padding-x">
    <div class="b cell medium-6 large-3">
        <a href="/requestPage" class="card" style="margin: 10px">
            <div class="card-section text-center">
                <img src="https://img.icons8.com/ios/60/000000/post-office.png"/>
            </div>
            <div class="card-section text-center">
               <p >Your Group Requests 
                {% verbatim %}
                <span id="totalRequest"> <span v-if="totalRequest" class="dot"> {{totalRequest}} </span> </span></p>
                {% endverbatim %}
            </div>
        </a>
    </div>
    <div class="b cell medium-6 large-3">
        <a href="/showSchedule" class="card" style="margin: 10px">
            <div class="card-section text-center">
                <img src="https://img.icons8.com/fluency-systems-regular/60/000000/overtime.png"/>
            </div>
            <div class="card-section text-center">
                <p>Your schedule</p>
            </div> 
        </a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'css/foundation.css' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="{% static 'js/requestNumber.js' %}"></script>
{% endblock %}