{% extends "base.html" %}
{% load static %}
{% block title %}{{ body }}{% endblock %}
{% block content %}

<div class="b grid-container">
    <div id="JoinGrouplist-rendering">
        <div class="grid-x grid-padding-x">
            <div class="large-4 medium-6 small-12 cell" v-for="o in joinGroupList">
                <div class="card text-center">
                    <div v-if="o.image"> <img v-bind:src="o.image" height="400" width="400"/> </div>
                    <div v-else>
                        <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/120/000000/external-group-miscellaneous-kiranshastry-solid-kiranshastry.png"/>
                    </div>
                    <div class="card-section">
                        {% verbatim %}
                        <b>{{ o.groupName}} </b> Added by {{o.groupAdmin}} - {{o.date}}
                        {% endverbatim %}
                    </div>
                    <a v-bind:href="'/request/'+o.groupID+'/'+o.groupAdminID+'/'" class="button text-center"
                        style="background-color: yellowgreen;">Send Request</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="{% static 'js/joinGroup.js' %}"></script>
{% endblock %}