{% extends "base.html" %}
{% load static %}
{% block title %}{{ body }}{% endblock %}

{% block content %}
<div class="b grid-container">
    <div id="list-rendering">
        <div class="grid-x grid-padding-x">
            <div class="large-4 medium-6 small-12 cell" v-for="o in groupList">
                <a v-bind:href="'/showActivity/'+o.group_id+'/'" class="card">
                    <div>
                        <div class="card-divider">
                            {% verbatim %}
                            <b>{{ o.groupName}}</b>
                            {% endverbatim %}
                        </div>
                        <img v-bind:src="o.image" width="400" />
                        <div class="card-section">
                            Added by {% if request.user.username == o.groupAdmin %} You {% else %} {% verbatim %}
                            {{o.groupAdmin}} {% endverbatim %} {% endif %} - {% verbatim %} {{o.date}}
                            {% endverbatim %}
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="{% static 'js/myvue.js' %}"></script>
{% endblock %}