{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="grid-x">
    <div class="b cell medium-6 large-8">
        <div class="grid-x ">
            {% for activity in activity_list %}
            <div class="lh card large-4  medium-6 small-12 spacing" style="margin: 10px">
                <div class="card-section">
                    <b> {{ activity.activity_name }} {{ activity.number_of_sets}}</b> Added by <b>
                        {{activity.addedBy.username }} </b>
                    <div>
                        <a href="/deleteActivity/{{activity.id}}/" class="alert button">Delete</a>
                        <a href="/updateActivity/{{activity.id}}/" class="button">Edit </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/addActivity/{{group_id}}/" class="success button" style="margin-top: 25px">Add Activity</a>
    </div>
    <div class="c b cell medium-6 large-3">
        <div class="grid-x ">
            <h3>Your Buddies <a href="/chat/{{group_id}}/"> <img src="https://img.icons8.com/external-sbts2018-blue-sbts2018/58/000000/external-chat-social-media-basic-1-sbts2018-blue-sbts2018-1.png" /> </a> </h3>
            {% for gymbuddy in gymbuddy_list %}
            <div class="card large-9">
                <div class="card-section text-center">
                    <b> {{gymbuddy.username}}</b>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}