{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="b lh grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-4 small-12 cell">
            {% for r in request_from_other_users_list %}
            {% if r.is_approved == False %}
            <div class="card">
                <div class="card-section">
                    <b> {{ r.requested_User.username }} </b> requested to join your <b> {{ r.group.groupName }} </b>
                    group
                </div>
                <div>
                    <a href="/acceptGroupRequest/{{r.id}}/" class="success button">Accept</a>
                    <a href="/declineGroupRequest/{{r.id}}/" class="alert button">Decline</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-5 medium-4 small-12 cell">
            {% for r in request_to_join_other_groups %}
            <div class="card">
                <div class="card-section">
                    {% if r.is_approved == False %}
                    You requested to join <b> {{ r.group.groupName }} </b> group
                    {% else %}
                    Your request to join <b>{{ r.group.groupName }}</b> is approved !!
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}