{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="b grid-x grid-padding-x">
    <div class="cell medium-8 large-12 small-12">
        <div class="grid-x">
                {% for r in request_from_other_users_list %}
                {% if r.is_approved == False %}
                <div class="card large-3 medium-6 small-12" style="margin: 10px">
                    <div class="lh card-section text-center">
                        <b> {{ r.requested_User.username }} </b> requested to join your <b> {{ r.group.groupName }} </b>
                        group
                        <a href="/acceptGroupRequest/{{r.id}}/"><img src="https://img.icons8.com/stickers/48/000000/checked.png"/></a>
                        <a href="/declineGroupRequest/{{r.id}}/"><img src="https://img.icons8.com/stickers/48/000000/cancel.png"/></a>
                    </div>  
                </div>
                {% endif %}
                {% endfor %}
        </div>
    </div>
    <div class="cell medium-8 large-12 small-12">
        <div class="grid-x">
            {% for r in request_to_join_other_groups %}
            <div class="card large-3 medium-6 small-12" style="margin: 10px">
                <div class="card-section">
                    {% if r.is_approved == False %}
                    You requested to join <b> {{ r.group.groupName }} </b> group
                    <p>- Created by {{r.group.groupAdmin.username}}</p>
                    {% else %}
                    Your request to join <b>{{ r.group.groupName }}</b> is approved !!
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}