{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="grid-x">
    <div class="b cell medium-6 large-8 small-12">
        <div class="grid-x ">
            {% for r in activityList %}
            <div class="card large-4 medium-6 small-12" style="margin: 10px">
                <div class="card-section">
                    <b> {{ r.activity_name }} </b> <b> {{ r.number_of_sets }} </b>
                    <a href="/markCompleted/{{r.id}}/" class="button">Mark Completed</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}